form.wpcf7-form {
    background-color: $color-3;
    padding: 20px;
    input[type="text"] {
        background-color: $color-4;
    }
}

// .wp-block-columns {
//     margin:auto;
//     width: 80%;
// }